.player {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player .item {
    margin-bottom: 8px;
    width: 60%;
    max-width: 500px;
    opacity: var(--opacity-fade);
}

.player .item.item__active {
    opacity: 1;
}

.player .item__title {
    text-align: right;
    color: var(--color-text);
    font-size: 80%;
    margin: 0 32px 4px;
}

.player .item audio {
    width: 100%;
}